.open {
  border: 1px solid #cfd1f5;
  background-color: #ecedfd;
  border-radius: 10px;
  min-width: 90px;
  min-height: 40px;
  font-size: 12px;
  padding: 12px;
  color: #9588e3;
  user-select: none;
}
.open:hover {
  background-color: #cfd1f5;
}

.blocked {
  border: 1px solid #c0bebc;
  background-color: #f6f2ef;
  border-radius: 10px;
  min-width: 90px;
  min-height: 40px;
  font-size: 12px;
  padding: 12px;
  color: #c0bebc;
  user-select: none;
}

.scheduled {
  border: 1px solid #61dbb7;
  background-color: #61dbb7;
  border-radius: 10px;
  min-width: 90px;
  min-height: 40px;
  font-size: 12px;
  padding: 12px;
  color: #ffffff;
  user-select: none;
}
.scheduled:hover {
  background-color: #4ab695;
}

.slot {
  font-size: 10px;
}
