.open {
  border: 1px solid #bbb8e7;
  background-color: #eeedf5;
  border-radius: 10px;
  max-width: 90px;
  min-height: 40px;
  font-size: 12px;
  padding: 12px;
  color: #9588e3;
  user-select: none;
}
.open:hover {
  background-color: #bbb8e7;
}

.blocked {
  border: 1px solid #cfcfcf;
  background-color: #ededed;
  border-radius: 10px;
  max-width: 90px;
  min-height: 40px;
  font-size: 12px;
  padding: 12px;
  color: #949292;
  user-select: none;
}

.scheduled {
  border: 1px solid #04cc04;
  background-color: #d6f9d6;
  border-radius: 10px;
  max-width: 110px;
  min-height: 40px;
  font-size: 12px;
  padding: 12px;
  color: #44b144;
  user-select: none;
}
.scheduled:hover {
  background-color: #04cc04;
}

.slot {
  font-size: 10px;
}
